    <link rel="stylesheet" href="../stylesheets/header.css">
    <div id = "header">
        <div id = "head" class = "container">
            <div id= "name" class = "col-md-6 col-xs-12">
                <div id = "logo-box"><a id = "logo-home" href = "/"><img id = "siam-logo" src = "../images/siamnewlogo.png" /></a></div>
                <div id = "full-name">
                    Society For Industrial And Applied Mathematics - DTU Student Chapter
                </div>
            </div>
            <span id = "menu-head" class = "col-md-6 col-xs-12">
                <a href = "/" class = "nec">
                    <div class="dropdown">
                        <button class="dropbtn"><img class= "img-icons" src = "../images/home.svg"> Home</button>
                    </div>
                </a><!--
             -->
                    <div class="dropdown nec">
                        <button class="dropbtn"><img class= "img-icons" src = "../images/events.svg">
                            Events >>
                        </button>
                        <div class="dropdown-content">
                            <a href="/events/symposium">Symposium</a>
                            <a href="/events/alumni">Alumnus-Students Session</a>
                            <a href="/events/mockstocks">Mock Stocks</a>
                            <a href="/events/fincricket">Financial Cricket</a>
                            <a href="/events/absurd">Absurd Theory</a>
                            <a href="/events/guess">Guess Estimates</a>
                            <a href="/events/informal">Informal Events</a>
                        </div>
                    </div>
                <!--
             --><a href = "/contest" class = "nec">
                    <div class="dropdown">
                        <button class="dropbtn"><img class= "img-icons" src = "../images/contests.svg">Contest</button>
                    </div>
                </a><!--
             --><a href = "/about" class = "nec">
                    <div class="dropdown">
                        <button class="dropbtn"><img class= "img-icons" src = "../images/about.svg">About</button>
                    </div>
                </a>
                <a href = "#" class = "nec">
                    <div class="dropdown">
                        <button class="dropbtn" id = "login"><img class = "img-icons" src = "../images/google.png" /><span id ="loggedin">Sign In via Google</span></button>
                    </div>
                </a>
            </span>
        </div>
        <div id = "tag-line">
            <h4>PROMOTING THE PRACTICE AND PROFESSION OF MATHEMATICS</h4>
        </div>
    </div>