<!DOCTYPE html>
<head><title>SIAM DTU chapter</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!--To be copied as it is-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../stylesheets/header.css">
<link rel="stylesheet" href="../stylesheets/index.css">
<link rel="stylesheet" href="../stylesheets/footer.css">
<link href='https://fonts.googleapis.com/css?family=Overpass:Semi-Bold' rel='stylesheet' type='text/css' />
<!--FONTS-->
<link href="https://fonts.googleapis.com/css?family=Graduate|Orbitron|Risque|Supermercado+One" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Fira Sans Extra Condensed:Regular' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Merriweather:Black' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Roboto Mono:Medium Italic' rel='stylesheet' type='text/css' />
    
<link rel="shortcut icon" href="../images/siamnewlogo.png" type="image/x-icon" />

<!--META-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-92201388-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
    $(document).ready(function(){
        var flag = 1;
        setmargin();
        $(".each-cat").mouseenter(function(){
            $what = $(this);
            $($what).find(".glyphicon").css();
        })
        hidertagline();

        $(window).on('scroll',function(){
            if(flag != 1 && $('#nav-fixer').offset().top -    $(window).scrollTop() < -40){
                $("#tag-line").slideUp("slow");
                flag = 1;
            }
            else if(flag != 0 && $('#nav-fixer').offset().top - $(window).scrollTop() >= -40){
                $("#tag-line").slideDown("slow");
                flag = 0;
            }
        })
        function hidertagline(){
            if(flag != 1 && $('#nav-fixer').offset().top - $(window).scrollTop() < -150){
                $("#tag-line").slideUp("slow");
                flag = 1;
            }
            else if(flag != 0 && $('#nav-fixer').offset().top - $(window).scrollTop() >= -150){
                $("#tag-line").slideDown("slow");
                flag = 0;
            }
        }
        
        /*------------------------------------------------Event boxes content-----------------------------------------*/
        $(".event-blocks").hover(function(){
            if($(window).width() > 800){
                $(this).find('.event-name').slideDown(300);
                $(this).find('.desc1').slideDown(300);
                $(this).find('.desc2').slideDown(300);
                $(this).find('.desc3').slideDown(300);
            }
        },function(){
            if($(window).width() > 800){
                $(this).find('.event-name').slideUp(300);
                $(this).find('.desc1').slideUp(300);
                $(this).find('.desc2').slideUp(300);
                $(this).find('.desc3').slideUp(300);
            }
        })
        
        /*---------------------------------------------------Scroll smooth-------------------------------------*/
        $(document).on('click', '.local', function(event){
            event.preventDefault();
            $('html, body').animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top - 50
            }, 500);
        });
        
        
        /*-------------------------------------------------Firebase---------------------------------------------*/
        var which;
        var data = null;
        var config = {
            apiKey: "AIzaSyBZAlUQNvOiifOWKSCCSd4JrwuUo1JQcWg",
            authDomain: "siam-2k17-app.firebaseapp.com",
            databaseURL: "https://siam-2k17-app.firebaseio.com",
            storageBucket: "siam-2k17-app.appspot.com",
            messagingSenderId: "938483124503"
        };
        firebase.initializeApp(config);
        initApp();/*----------------------------------gets called on load----------------------------------*/
        
        function writeNewPost() {
            // A post entry.
            var postData = {
                "0" : "sudhanshusaini96@gmail.com"
            };
    
            // Get a key for a new Post.

            // Write the new post's data simultaneously in the posts list and the user's post list.
            var updates = {};
            updates['/questions/4/attemptedBy'] = postData;

            return firebase.database().ref().update(updates);
        }
        
        function initApp() {
            // Result from Redirect auth flow.
            // [START getidptoken]
            firebase.auth().getRedirectResult().then(function(result) {
                if (result.credential) {
                    // This gives you a Google Access Token. You can use it to access the Google API.
                    var token = result.credential.accessToken;
                    // [START_EXCLUDE]
                } else {
                    // [END_EXCLUDE]
                }
                // The signed-in user info.
            }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // [START_EXCLUDE]
                if (errorCode === 'auth/account-exists-with-different-credential') {
                    alert('You have already signed up with a different auth provider for that email.');
                    // If you are using multiple auth providers on your app you should handle linking
                    // the user's accounts here.
                } else {
                    console.error(error);
                }
                // [END_EXCLUDE]
            });
            
            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    // User is signed in.
                    $("#loggedin").text(user.displayName);
                    $(".img-icons").attr("src",user.photoURL);
                    $("#contest3").hide();
                    $("#contest1").fadeIn(200);
                } else {
                    // User is signed out.
                    $("#contest3").show();
                    $("#contest1").fadeOut();
                }
                // [START_EXCLUDE]
                
                // [END_EXCLUDE]
            });
            // [END authstatelistener]
        }
        $("#login").click(function(){
            if($(this).find("#loggedin").text() != "Sign In via Google"){
                if (confirm('Are you sure you want to Sign out?')) {
                    toggleSignIn();
                } else {
                    return;
                }
            }
            else{
                 toggleSignIn();
            }
        })
        function toggleSignIn() {
            if (!firebase.auth().currentUser) {
                // [START createprovider]
                var provider = new firebase.auth.GoogleAuthProvider();
                // [END createprovider]
                // [START addscopes]
                provider.addScope('https://www.googleapis.com/auth/plus.login');
                // [END addscopes]
                // [START signin]
                firebase.auth().signInWithRedirect(provider);
                // [END signin]
            } else {
                // [START signout]
                firebase.auth().signOut();
                // [END signout]
                $("#loggedin").text("Sign In via Google");
                $(".img-icons").attr("src","../images/google.png");
            }
            // [START_EXCLUDE]
          //  document.getElementById('login').disabled = true;
            // [END_EXCLUDE]
        }
        func1();
        /*-------------------------------------------------Firebase ends------------------------------------------*/
        
        var word;
        var length;
        $("#login").hover(function(){
            if($("#loggedin").text() != "Sign In via Google"){    
                word = $("#loggedin").text();
                length = $(this).width();
                $("#loggedin").text("Sign out?");
            }
        },function(){
            if($("#loggedin").text() == "Sign out?"){
                $(this).width(length);
                $(this).css("text-align","left");
                $("#loggedin").text(word);
            }
        })
    });
    var current = null;
    function func1(){
        starCountRef = firebase.database().ref("/current");
        starCountRef.on("value",snap =>{
            current = snap.val();
            func2();
        });
    }
    var ques = null;
    function func2(){
        starCountRef = firebase.database().ref("/questions/" + current);
        starCountRef.on("value",snap =>{
            ques = snap.val();
            func3();
        });
    }
    function func3(){
        $(".ques-content").text(ques.question);
        $("#option1").text(ques.options[0]);
        $("#option2").text(ques.options[1]);
        $("#option3").text(ques.options[2]);
        $("#option4").text(ques.options[3]);
    }
    function setmargin(){
        if($("#header").is(":visible")){
            $("#nav-fixer").height($("#head").height() + 20);
            setblockheight();
        }
        else{
            setTimeout(setmargin,5);
        }
    }
    function setblockheight(){
        var windh = $(window).height();
        $("#first-block").height(windh - $("#nav-fixer").height());
    }
    /*-------------------------------------------Event blocks slider------------------------------------*/
    $(window).load(function(){
        var flag1 = 0;
        $(window).scroll(function(){
            if($(window).width() > 700){
                var hT = $('#second-block').offset().top + 300,
                    wH = $(window).height(),
                    wS = $(this).scrollTop();    
            
                if (flag1 != 1 && wS > (hT-wH)){
                    flag1 = 1;
                    $('.leftwala').animate({"right":"0px"},1000);
                    $('.rightwala').animate({"left":"0px"},1000);
                }
                if (flag1 != 0 && wS < (hT-wH)){
                    flag1 = 0;
                    $('.leftwala').css("right","200px");
                    $('.rightwala').css("left","200px");
                }
            }
        });
    })
</script>
<script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
</head>
<body>
    <div id = "header">
    <div id = "head" class = "container">
        <div id= "name" class = "col-md-6 col-xs-12">
            <div id = "logo-box"><a id = "logo-home" href = "/"><img id = "siam-logo" src = "../images/siamnewlogo.png" /></a></div>
            <div id = "full-name">
                 Society For Industrial And Applied Mathematics - DTU Student Chapter
            </div>
        </div>
        <span id = "menu-head" class = "col-md-6 col-xs-12">
            <a href = "/" class = "nec">
                <div class="dropdown">
                    <button class="dropbtn">Home</button>
                </div>
            </a><!--
         -->
                <div class="dropdown nec">
                    <button class="dropbtn">
                        Events
                    </button>
                    <div class="dropdown-content">
                        <a href="/events/symposium">Symposium</a>
                        <a href="/events/alumni">Alumnus-Students Session</a>
                        <a href="/events/mockstocks">Mock Stocks</a>
                        <a href="/events/fincricket">Financial Cricket</a>
                        <a href="/events/absurd">Absurd Theory</a>
                        <a href="/events/guess">Guess Estimates</a>
                        <a href="/events/informal">Informal Events</a>
                    </div>
                </div>
            <!--
         --><a href = "/contest" class = "nec">
                <div class="dropdown">
                    <button class="dropbtn">Contest</button>
                </div>
            </a><!--
         --><a href = "/about" class = "nec">
                <div class="dropdown">
                    <button class="dropbtn">About</button>
                </div>
            </a>
            <a href = "#" class = "nec">
                <div class="dropdown">
                    <button class="dropbtn" id = "login"><img class = "img-icons" src = "../images/google.png" /><span id ="loggedin">Sign In via Google</span></button>
                </div>
            </a>
        </span>
    </div>
    <div id = "tag-line">
        <h4>PROMOTING THE PRACTICE AND PROFESSION OF MATHEMATICS</h4>
    </div>
    </div>
    <div id="nav-fixer"></div>
    <div id = "below">
        <div id = "first-block" class = "blocks">
            <div id = "welcome">
                <span>Welcome to</span><br><h1 id = "siam-dtu">SIAM-DTU</h1>
            </div>
        </div>
        <div class = "divider"></div>
        <div id = "second-block" class = "blocks" id = "layer-block1">
            <div class = "container layer">
            <div class = "head">
                <div id = "siam-block">
                    <img id = "siam-pic-evolute" src = "../images/siamnewlogo.png">
                </div>
                <div id = "presents">PRESENTS</div>
                <div id = "evolute-block">
                    <img id = "evolute-pic" src = "../images/evolute1.png" />
                </div>
                <div id = "date-events-prizes" class = "container">
                    <div class = "three col-md-4">6 EVENTS</div>
                    <div class = "three col-md-4">30<sup>th</sup>,31<sup>st</sup> MARCH and 1<sup>st</sup> APRIL</div>
                    <div class = "three col-md-4">Prizes worth ₹70,000</div>
                </div>
            </div>
            <hr class = "head-below">
            <div class = "col-md-12 centrewala">
                <a href = "/events/symposium" class = "holder">
				<div class = "event-blocks" id = "symposium">
                    <div class = "event-name">Symposium</div>
                    <div class = "desc1">31<sup>st</sup> March</div>
                    <div class = "desc2">11:00 AM onwards</div>
                    <div class = "desc3">Venue coming soon</div>
                </div>
				</a>    
            </div>
            <div class = "col-md-6 leftwala">
                <a href = "/events/alumni" class = "holder">
				<div class = "event-blocks" id = "alumni">
                    <div class = "event-name">Alumnus-Students Session</div>
                    <div class = "desc1">1<sup>st</sup> April</div>
                    <div class = "desc2">11:00 AM onwards</div>
                    <div class = "desc3">SPS 13</div>
                </div>
				</a>
            </div>
            <div class = "col-md-6 rightwala">
                <a href = "/events/mockstocks" class = "holder">
				<div class = "event-blocks" id = "mock-stocks">
                    <div class = "event-name">Mock Stocks</div>
                    <div class = "desc1">30<sup>th</sup> March</div>
                    <div class = "desc2">11:00 AM onwards</div>
                    <div class = "desc3">Venue coming soon</div>
                </div>
				</a>
            </div>
            <div class = "col-md-6 leftwala">
                <a href = "/events/fincricket" class = "holder">
				<div class = "event-blocks" id = "cricket">
                    <div class = "event-name">Financial Cricket</div>
                    <div class = "desc1">31<sup>st</sup> March</div>
                    <div class = "desc2">11:00 AM onwards</div>
                    <div class = "desc3">Venue coming soon</div>
                </div>
				</a>
            </div>
            <div class = "col-md-6 rightwala">
                <a href = "/events/absurd" class = "holder">
				<div class = "event-blocks" id = "absurd">
                    <div class = "event-name">Absurd Therory</div>
                    <div class = "desc1">30<sup>st</sup> March</div>
                    <div class = "desc2">01:00 PM onwards</div>
                    <div class = "desc3">Venue coming soon</div>
                </div>
				</a>
            </div>
            <div class = "col-md-6 leftwala">
                <a href = "/events/guess" class = "holder">
				<div class = "event-blocks" id = "guess">
                    <div class = "event-name">Guess Estimates</div>
                    <div class = "desc1">30<sup>th</sup> March</div>
                    <div class = "desc2">02:00 PM onwards</div>
                    <div class = "desc3">Venue coming soon</div>
                </div>
				</a>
            </div>
            <div class = "col-md-6 rightwala">
                <a href = "#" class = "holder">
				<div class = "event-blocks" id = "informal">
                    <div class = "event-name">Informal Events</div>
                    <div class = "desc1">Multiple dates</div>
                    <div class = "desc2">Diferent times</div>
                    <div class = "desc3">Venue coming soon</div>
                </div>
				</a>
            </div>
            </div>
        </div>
        <div class = "divider"></div>
        <div id = "contest" class = "blocks">
            <div class = "container layer" id = "layer-block2">
            <div class = "head">
                <div class = "head-each-block col-md-6" style = "color:#f2f2eb;">- Mathsomania +</div>
                <div class = "col-md-6" id = "mobi"><span id = "powered">Powered by</span><img src = "../images/sponsors/mobikwiklogo.png" class = "mobi-logo"></div>
            </div><hr class = "head-below">
            <div id = "contest-content">
                <div class = "contest-lines">
                    Prizes worth ₹2.5k every week!!
                </div>
                <div class = "col-md-12" id = "contest3">
                    <div id = "login-first">You are not signed in! Sign In first</div>
                </div>
                <div class = "col-md-12" id = "contest1">
                    <div id = "ques-day">Question of the day!</div>
                    <div id = "question-now">
                        <div id = "question-exact">
                            <span class = "wordques">Question : </span><span class = "ques-content">
                            
                            </span>
                        </div>
                        <div class = "options">
                            <div class="radio">
                                <p id = "option1"></p>
                            </div>
                            <div class="radio">
                                <p id = "option2"></p>
                            </div>
                            <div class="radio">
                                <p id = "option3"></p>
                            </div>
                            <div class="radio">
                                <p id = "option4"></p>
                            </div>
                        </div>
                        <div id = "but-box">
                            <a href = "../contest" class = "btn btn-default">Answer this question?</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>                                                           
        <div class = "divider"></div>
        <div class = "blocks" id = "sponsors">
            <div class = "sponsors">SPONSORS</div>
            <div class = "pics">
                <a href = "https://play.google.com/store/apps/details?id=com.mobikwik_new&hl=en" class = "sponsi-links">
                    <div class = "single-block">
                        <img src = "../images/sponsors/mobikwiklogo.png" class = "sponsi-pics" />
                        <div class = "sponsi-type">Online wallet partner</div>
                    </div>
                </a>
                <a href = "https://play.google.com/store/apps/details?id=com.google.android.apps.fireball&hl=en" class = "sponsi-links">
                    <div class = "single-block">
                        <img src = "../images/sponsors/googleallo.png" class = "sponsi-pics" />
                        <div class = "sponsi-type">Online messaging partner</div>
                    </div>
                </a>
                <a href = "http://www.ezyschooling.com" class = "sponsi-links">
                    <div class = "single-block">
                        <img src = "../images/sponsors/ezyschoolinglogo1.png" class = "sponsi-pics" />
                        <div class = "sponsi-type">Tech support partner</div>
                    </div>
                </a>
            </div>
        </div>
        <div class = "divider"></div>
<style>
    .sponsors{
        font-size: 52px;
        font-family: Merriweather;
        border-bottom: 1px solid;
    }
    .pics{
        text-align: center;
    }
    .sponsi-pics{
        width: 300px;
    }
    #sponsors{
        background-color: rgba(225, 232, 153, 0.39);
    }
</style>
        <div id = "footer" class = "container">
            <div class = "col-md-4">
                <div class = "foot-heads">
                    Message/Feedback
                </div>
                <div class = "foot-block">
                    <form action = "javascript:handleClick();" style="margin-top:25px;">
                        <div class="form-group footform">
                            <input type="text" class="form-control footinput" id="feed-name" placeholder = "Name">
                        </div>
                        <div class="form-group footform">
                            <input type="email" class="form-control footinput" id="feed-email" placeholder = "Email">
                        </div>
                        <div class="form-group footform">
                            <input type="number" class="form-control footinput" id="feed-mobile" placeholder = "Phone">
                        </div>
                        <div class="form-group footform">
                            <textarea class="form-control footinput" rows="4" id="feed-comment" placeholder = "Message"></textarea>
                        </div>
                        <div class = "form-group" style = "text-align : right;">
                            <button class = "btn btn-default" id = "sub-feedback" onclick="$.handleClick()">Ping!</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "foot-heads">
                    Reach us
                </div>
                <div class = "foot-block">
                    <div class = "foot-reach">
                        <div class = "foot-reach-field">
                            <i class="material-icons">location_on</i><span class = "foot-ans">Applied Mathematics Department, DTU</span>
                        </div>
                        <div class = "foot-reach-field">
                            <i class="material-icons">call</i><span class = "foot-ans">8860030631</span>
                        </div>
                        <div class = "foot-reach-field">
                            <i class="material-icons">email</i><span class = "foot-ans">admin@siamdtu.in</span>
                        </div>
                    </div>
                    <div class = "foot-map" id = "map-here"></div>
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "foot-heads">
                    Stay Updated
                </div>
                <div class = "foot-fb">
                    <iframe class = "fb-frame" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdtusiam%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1065652813544477" width="340" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class = "follow-icons"><img src = "../images/twitter.png" class = "fo-icons" /><a src = "https://www.linkedin.com/company-beta/17968837" class = "ex-links"><a src = "https://www.linkedin.com/company-beta/17968837" class = "ex-links"><img src = "../images/linkedin.png" class = "fo-icons" /></a><img src = "../images/youtube.png" class = "fo-icons" /></div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
    //    $("#myModallogin").modal();
    })
</script>
<script src="../javascripts/footer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATTRDUsu9wtdVYt3TUy3odioISjXKFxq4&callback=mapfunc" async defer></script>
</html>